a:link, a:visited{

    text-decoration: none;
    color: black;
}
a:hover{
    color: crimson;
    font-weight: bold;
}
#szuro{
    color:blueviolet;
}
#termekek{
    padding-left: +50px;
}
